################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/financial_simulator/FileContentIndex
/.vs/financial_simulator/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.gitignore
simulation_results_*.pdf
web/__pycache__/
